
<div class="container body-content">
    <div ng-controller="RevCntrl">

        <h2> Revenue Details Page</h2>
       


        <div class="col-md-12">

            @*<div class="col-md-4">*@
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm pagovr" ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">

                        <li><a href="#">{{$index + 1}}</a></li>


                    </ul>
                </nav>
            @*</div>*@
            @*<div class="col-md-8">*@
                <button ng-click="saveEditedRows()" class="btn btn-sm btn-success">Save</button>
            @*</div>*@

        </div>


        <div class="col-md-12 divRevList" ng-cloak>

            <div style="overflow:scroll; height:500px;width:auto;">
                @*<ul class="pagination" ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">
                        <li> {{$index + 1}} </li>
                    </ul>*@
                @*<button ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">
                        {{$index + 1}}
                    </button>*@



                <table class="table table-bordered  table-hover">
                    <thead>
                        <tr class="theader">
                            <th rowspan="3">Master Customer</th>
                            <th rowspan="3">PU</th>
                            <th rowspan="2">{{qtrData.PrevQtr}}</th>
                            <th rowspan="2" colspan="3">{{qtrData.CurrQtr}}</th>
                            <th rowspan="3" colspan="1">Native <br /> CCY</th>
                            <th rowspan="3" colspan="1">Exchange<br /> Rate</th>
                            <th colspan="13" rowspan="1">{{qtrData.CurrQtr}} (Current Quarter)</th>
                            <th colspan="13" rowspan="1">{{qtrData.NextQtr}} (Next Quarter)</th>
                        </tr>
                        <tr class="theader">
                            <td colspan="2">{{qtrData.CurrM1}}</td>
                            <td colspan="2">{{qtrData.CurrM2}}</td>
                            <td colspan="2">{{qtrData.CurrM3}}</td>
                            <td rowspan="2">Remarks</td>
                            <td rowspan="2">Revenue BE <br />in N.CCY</td>
                            <td rowspan="2">Revenue BE <br /> in KUSD</td>
                            <td rowspan="2">RTBR <br /> in N.CCY</td>
                            <td rowspan="2">RTBR <br /> in KUSD</td>
                            <td rowspan="2">MCO BE <br /> in KUSD</td>
                            <td rowspan="2">DH BE <br /> in KUSD</td>

                            <td colspan="2">{{qtrData.NxtM1}}</td>
                            <td colspan="2">{{qtrData.NxtM2}}</td>
                            <td colspan="2">{{qtrData.NxtM3}}</td>
                            <td rowspan="2">Remarks</td>
                            <td rowspan="2">Revenue BE <br />  in N.CCY</td>
                            <td rowspan="2">Revenue BE <br /> in KUSD</td>
                            <td rowspan="2">RTBR <br /> in N.CCY</td>
                            <td rowspan="2">RTBR <br />in KUSD</td>
                            <td rowspan="2">MCO BE <br /> in KUSD</td>
                            <td rowspan="2">DH BE <br /> in KUSD</td>

                        </tr>
                        <tr class="theader">
                            <td>Actuals <br />in KUSD</td>
                            <td>{{qtrData.CurrM1}}</td>
                            <td>{{qtrData.CurrM2}}</td>
                            <td>{{qtrData.CurrM3}}</td>
                            <td>BE <br />in N.CCY</td>
                            <td>BE <br />in KUSD</td>
                            <td>BE <br />in N.CCY</td>
                            <td>BE <br />in KUSD</td>
                            <td>BE <br /> in N.CCY</td>
                            <td>BE <br /> in KUSD</td>

                            <td>BE <br />in N.CCY</td>
                            <td>BE <br /> in KUSD</td>
                            <td>BE <br /> in N.CCY</td>
                            <td>BE <br /> in KUSD</td>
                            <td>BE <br /> in N.CCY</td>
                            <td>BE <br /> in KUSD</td>

                        </tr>
                    </thead>

                    <tbody>

                        @*<tr ng-repeat="rev in resultValue=(revdetails) track by $index">*@
                        @*<tr ng-repeat="rev in revdetails  | limitTo : 10 track by $index">*@
                        <tr ng-repeat="rev in revdetails | startFrom: currentPage * pageSize  | limitTo:pageSize track by $index">
                            <td>
                                {{rev.MasterCustomerCode}}
                            </td>
                            <td>
                                {{rev.PU}}
                            </td>
                            <td>{{rev.PQAM1 | number : 2}}</td>
                            <td ng-hide="true">{{rev.BVFR}}</td>
                            <td>{{rev.CQM1Actuals | number : 2 | ifEmpty:0.00}}</td>
                            <td>{{rev.CQM2Actuals | number : 2 | ifEmpty:0.00}}</td>
                            <td>{{rev.CQM3Actuals | number : 2 | ifEmpty:0.00}}</td>
                            <td>{{rev.NC}}</td>
                            <td>{{rev.ER | number : 2}} </td>
                            @*<td>{{rev.CQM1NATIVE | number : 2}}</td>*@
                            <td><input type="text" ng-model="rev.CQM1NATIVE" ng-change="onChange(rev,'CQM1NATIVE', $index)" /></td>
                            <td>{{rev.CQM1USD | number : 2}}</td>
                            @*<td>{{rev.CQM2NATIVE}}</td>*@
                            <td><input type="text" ng-model="rev.CQM2NATIVE" ng-change="onChange(rev,'CQM2NATIVE', $index)" /></td>
                            <td>{{rev.CQM2USD | number : 2}}</td>
                            @*<td>{{rev.CQM3NATIVE}}</td>*@
                            <td><input type="text" ng-model="rev.CQM3NATIVE" ng-change="onChange(rev,'CQM3NATIVE', $index)" /></td>
                            <td>{{rev.CQM3USD | number : 2}}</td>
                            @*<td>{{rev.CQREMARKS}}</td>*@
                            <td><textarea type="text" ng-model="rev.CQREMARKS" ng-change="onChange(rev,'CQREMARKS', $index)"></textarea></td>
                            <td>{{rev.CQREVNATIVE | number : 2}}</td>
                            <td>{{rev.CQREVUSD | number : 2}}</td>
                            <td>{{rev.CQRTBRNATIVE | number : 2 | ifEmpty:0.00}}</td>
                            <td>{{rev.CQRTBRUSDACTUALS | number : 2 | ifEmpty:0.00}}</td>
                            <td>{{rev.CQMCOBE | ifEmpty:0.00}}</td>
                            <td>{{rev.CQDHBE | ifEmpty:0.00}}</td>
                            @*<td>{{rev.NQM1NATIVE}}</td>*@
                            <td><input type="text" ng-model="rev.NQM1NATIVE" ng-change="onChange(rev,'NQM1NATIVE', $index)" /></td>
                            <td>{{rev.NQM1USD  | number : 2}}</td>
                            @*<td>{{rev.NQM2NATIVE}}</td>*@
                            <td><input type="text" ng-model="rev.NQM2NATIVE" ng-change="onChange(rev,'NQM2NATIVE', $index)" /></td>
                            <td>{{rev.NQM2USD  | number : 2}}</td>
                            @*<td>{{rev.NQM3NATIVE}}</td>*@
                            <td><input type="text" ng-model="rev.NQM3NATIVE" ng-change="onChange(rev,'NQM3NATIVE', $index)" /></td>
                            <td>{{rev.NQM3USD  | number : 2}}</td>
                            @*<td>{{rev.NQREMARKS}}</td>*@
                            <td><textarea type="text" ng-model="rev.NQREMARKS" ng-change="onChange(rev,'NQREMARKS', $index)"></textarea></td>
                            <td>{{rev.NQREVNATIVE  | number : 2}}</td>
                            <td>{{rev.NQREVUSD  | number : 2}}</td>
                            <td>{{rev.NQRTBRNATIVE | number : 2 | ifEmpty:0.00}}</td>
                            <td>{{rev.NQRTBRUSD | number : 2 | ifEmpty:0.00}}</td>
                            <td>{{rev.NQMCOBE | ifEmpty:0.00}}</td>
                            <td>{{rev.NQDHBE | ifEmpty:0.00}}</td>



                        </tr>

                        <tr class="theader">
                            <td colspan="2">Total-ADM</td>
                            <td>{{admtotal.PQAM1_totl | number:2}}</td>
                            <td>{{admtotal.CQM1Actuals_totl | number:2}}</td>
                            <td>{{admtotal.CQM2ActuaLs_totl | number:2}}</td>
                            <td>{{admtotal.CQM3ActuaLs_totl | number:2}}</td>
                            <td></td>
                            <td></td>
                            <td>{{admtotal.CQM1NATIVE_totl | number:2}}</td>
                            <td>{{admtotal.CQM1USD_totl | number:2}}</td>
                            <td>{{admtotal.CQM2NATIVE_totl | number:2}}</td>
                            <td>{{admtotal.CQM2USD_totl | number:2}}</td>
                            <td>{{admtotal.CQM3NATIVE_totl | number:2}}</td>
                            <td>{{admtotal.CQM3USD_totl | number:2}}</td>
                            <td></td>
                            <td>{{admtotal.CQREVNATIVE_totl | number:2}}</td>
                            <td>{{admtotal.CQREVUSD_totl | number:2}}</td>
                            <td>{{admtotal.CQRTBRNATIVE_totl| number:2}}</td>
                            <td>{{admtotal.CQRTBRUSDACTUALS_totl | number:2}}</td>
                            <td>{{admtotal.CQMCOBE_totl | number:2}}</td>
                            <td>{{admtotal.CQDHBE_totl | number:2}}</td>
                            <td>{{admtotal.NQM1NATIVE_totl | number:2}}</td>
                            <td>{{admtotal.NQM1USD_totl | number:2}}</td>
                            <td>{{admtotal.NQM2NATIVE_totl | number:2}}</td>
                            <td>{{admtotal.NQM2USD_totl | number:2}}</td>
                            <td>{{admtotal.NQM3NATIVE_totl | number:2}}</td>
                            <td>{{admtotal.NQM3USD_totl | number:2}}</td>
                            <td></td>
                            <td>{{admtotal.NQREVNATIVE_totl | number:2}}</td>
                            <td>{{admtotal.NQREVUSD_totl | number:2}}</td>
                            <td>{{admtotal.NQRTBRNATIVE_totl | number:2}}</td>
                            <td>{{admtotal.NQRTBRUSD_totl | number:2}}</td>
                            <td>{{admtotal.NQMCOBE_totl | number:2}}</td>
                            <td>{{admtotal.NQDHBE_totl | number:2}}</td>
                        </tr>
                        <tr class="theader">
                            <td colspan="2">Total-BPO</td>
                            <td>{{bpototal.PQAM1_totl | number:2}}</td>
                            <td>{{bpototal.CQM1Actuals_totl | number:2}}</td>
                            <td>{{bpototal.CQM2ActuaLs_totl | number:2}}</td>
                            <td>{{bpototal.CQM3ActuaLs_totl | number:2}}</td>
                            <td></td>
                            <td></td>
                            <td>{{bpototal.CQM1NATIVE_totl | number:2}}</td>
                            <td>{{bpototal.CQM1USD_totl | number:2}}</td>
                            <td>{{bpototal.CQM2NATIVE_totl | number:2}}</td>
                            <td>{{bpototal.CQM2USD_totl | number:2}}</td>
                            <td>{{bpototal.CQM3NATIVE_totl | number:2}}</td>
                            <td>{{bpototal.CQM3USD_totl | number:2}}</td>
                            <td></td>
                            <td>{{bpototal.CQREVNATIVE_totl | number:2}}</td>
                            <td>{{bpototal.CQREVUSD_totl | number:2}}</td>
                            <td>{{bpototal.CQRTBRNATIVE_totl| number:2}}</td>
                            <td>{{bpototal.CQRTBRUSDACTUALS_totl | number:2}}</td>
                            <td>{{bpototal.CQMCOBE_totl | number:2}}</td>
                            <td>{{bpototal.CQDHBE_totl | number:2}}</td>
                            <td>{{bpototal.NQM1NATIVE_totl | number:2}}</td>
                            <td>{{bpototal.NQM1USD_totl | number:2}}</td>
                            <td>{{bpototal.NQM2NATIVE_totl | number:2}}</td>
                            <td>{{bpototal.NQM2USD_totl | number:2}}</td>
                            <td>{{bpototal.NQM3NATIVE_totl | number:2}}</td>
                            <td>{{bpototal.NQM3USD_totl | number:2}}</td>
                            <td></td>
                            <td>{{bpototal.NQREVNATIVE_totl | number:2}}</td>
                            <td>{{bpototal.NQREVUSD_totl | number:2}}</td>
                            <td>{{bpototal.NQRTBRNATIVE_totl | number:2}}</td>
                            <td>{{bpototal.NQRTBRUSD_totl | number:2}}</td>
                            <td>{{bpototal.NQMCOBE_totl | number:2}}</td>
                            <td>{{bpototal.NQDHBE_totl | number:2}}</td>
                        </tr>

                        <template>
                            @*<tr class="theader">
                                    <td colspan="2">Total-ADM</td>
                                    <td>{{totals.pqm1admsum | number:2}}</td>
                                    <td>{{totals.cqm1admActuals | number:2}}</td>
                                    <td>{{totals.cqm2admActuals | number:2}}</td>
                                    <td>{{totals.cqm3admActuals | number:2}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{totals.cqm1admNative | number:2}}</td>
                                    <td>{{totals.cqm1admUSD | number:2}}</td>
                                    <td>{{totals.cqm2admNative | number:2}}</td>
                                    <td>{{totals.cqm2admUSD | number:2}}</td>
                                    <td>{{totals.cqm3admNative | number:2}}</td>
                                    <td>{{totals.cqm3admUSD | number:2}}</td>
                                    <td></td>
                                    <td>{{totals.cqrevadmNATIVE | number:2}}</td>
                                    <td>{{totals.cqadmREVUSD | number:2}}</td>
                                    <td>{{totals.cqadmRTBRNATIVE| number:2}}</td>
                                    <td>{{totals.cqadmRTBRUSDACTUALS | number:2}}</td>
                                    <td>{{totals.cqmadmCOBE | number:2}}</td>
                                    <td>{{totals.cqadmDHBE | number:2}}</td>
                                    <td>{{totals.nqm1admNATIVE | number:2}}</td>
                                    <td>{{totals.nqm1USD | number:2}}</td>
                                    <td>{{totals.nqm2admNATIVE | number:2}}</td>
                                    <td>{{totals.nqm2USD | number:2}}</td>
                                    <td>{{totals.nqm3admNATIVE | number:2}}</td>
                                    <td>{{totals.nqm3USD | number:2}}</td>
                                    <td></td>
                                    <td>{{totals.nqadmREVNATIVE | number:2}}</td>
                                    <td>{{totals.nqadmREVUSD | number:2}}</td>
                                    <td>{{totals.nqadmRTBRNATIVE | number:2}}</td>
                                    <td>{{totals.nqadmRTBRUSD | number:2}}</td>
                                    <td>{{totals.nqmadmCOBE | number:2}}</td>
                                    <td>{{totals.nqadmDHBE | number:2}}</td>
                                </tr>
                                <tr class="theader">
                                    <td colspan="2">Total-BPO</td>
                                    <td>{{totals.pqm1bposum | number:2}}</td>
                                    <td>{{totals.cqm1bpoActuals | number:2}}</td>
                                    <td>{{totals.cqm2bpoActuals | number:2}}</td>
                                    <td>{{totals.cqm3bpoActuals | number:2}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{totals.cqm1bpoNative | number:2}}</td>
                                    <td>{{totals.cqm1bpoUSD | number:2}}</td>
                                    <td>{{totals.cqm2bpoNative | number:2}}</td>
                                    <td>{{totals.cqm2bpoUSD | number:2}}</td>
                                    <td>{{totals.cqm3bpoNative | number:2}}</td>
                                    <td>{{totals.cqm3bpoUSD | number:2}}</td>
                                    <td></td>
                                    <td>{{totals.cqrevbpoNATIVE | number:2}}</td>
                                    <td>{{totals.cqbpoREVUSD | number:2}}</td>
                                    <td>{{totals.cqbpoRTBRNATIVE | number:2}}</td>
                                    <td>{{totals.cqbpoRTBRUSDACTUALS | number:2}}</td>
                                    <td>{{totals.cqmbpoCOBE | number:2}}</td>
                                    <td>{{totals.cqbpoDHBE | number:2}}</td>
                                    <td>{{totals.nqm1bpoNATIVE | number:2}}</td>
                                    <td>{{totals.nqm1bpoUSD | number:2}}</td>
                                    <td>{{totals.nqm2bpoNATIVE | number:2}}</td>
                                    <td>{{totals.nqm2bpoUSD | number:2}}</td>
                                    <td>{{totals.nqm3bpoNATIVE | number:2}}</td>
                                    <td>{{totals.nqm3bpoUSD | number:2}}</td>
                                    <td></td>
                                    <td>{{totals.nqbpoREVNATIVE | number:2}}</td>
                                    <td>{{totals.nqbpoREVUSD | number:2}}</td>
                                    <td>{{totals.nqbpoRTBRNATIVE | number:2}}</td>
                                    <td>{{totals.nqbpoRTBRUSD | number:2}}</td>
                                    <td>{{totals.cqmbpoCOBE | number:2}}</td>
                                    <td>{{totals.cqbpoDHBE | number:2}}</td>
                                </tr>*@
                        </template>


                        <template>
                            @*<tr class="theader">
                                    <td colspan="2">Total-ADM</td>
                                    <td>{{resultValue | sumOfValue:'PQAM1':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM1Actuals':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM2Actuals':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM3Actuals':'PU':'ADM' | number:2}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{resultValue | sumOfValue:'CQM1NATIVE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM1USD':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM2NATIVE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM2USD':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM3NATIVE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM3USD':'PU':'ADM' | number:2}}</td>
                                    <td></td>
                                    <td>{{resultValue | sumOfValue:'CQREVNATIVE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQREVUSD':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQRTBRNATIVE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQRTBRUSDACTUALS':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQMCOBE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQDHBE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM1NATIVE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM1USD':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM2NATIVE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM2USD':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM3NATIVE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM3USD':'PU':'ADM' | number:2}}</td>
                                    <td></td>
                                    <td>{{resultValue | sumOfValue:'NQREVNATIVE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQREVUSD':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQRTBRNATIVE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQRTBRUSD':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQMCOBE':'PU':'ADM' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQDHBE':'PU':'ADM' | number:2}}</td>
                                </tr>
                                <tr class="theader">
                                    <td colspan="2">Total-BPO</td>
                                    <td>{{resultValue | sumOfValue:'PQAM1':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM1Actuals':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM2Actuals':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM3Actuals':'PU':'BPO' | number:2}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{resultValue | sumOfValue:'CQM1NATIVE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM1USD':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM2NATIVE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM2USD':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM3NATIVE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQM3USD':'PU':'BPO' | number:2}}</td>
                                    <td></td>
                                    <td>{{resultValue | sumOfValue:'CQREVNATIVE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQREVUSD':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQRTBRNATIVE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQRTBRUSDACTUALS':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQMCOBE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'CQDHBE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM1NATIVE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM1USD':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM2NATIVE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM2USD':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM3NATIVE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQM3USD':'PU':'BPO' | number:2}}</td>
                                    <td></td>
                                    <td>{{resultValue | sumOfValue:'NQREVNATIVE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQREVUSD':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQRTBRNATIVE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQRTBRUSD':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQMCOBE':'PU':'BPO' | number:2}}</td>
                                    <td>{{resultValue | sumOfValue:'NQDHBE':'PU':'BPO' | number:2}}</td>
                                </tr>*@
                        </template>

                    </tbody>


                </table>
            </div>
        </div>


    </div>
</div>

@section Scripts
{


}